# Getting to know some basic Python

This Jupyter Notebook is designed for use in the SCB Python workshop in Svanninge.

### Jupyter Notebook Survival Guide

Before diving into Python, here's a quick reference for the most commonly used keyboard shortcuts.

* **Run a cell**: `Ctrl+Enter`
* **Run and advance to the next cell**: `Shift+Enter`
* **Switch to Command Mode**: Press `Esc` (to use the shortcuts in table below)
* **Switch to Edit Mode**: Press `Enter` (to write code or markdown inside cells)



Action | Jupyter | Colab
:---|:--- | :---
Add a cell above | A | Ctrl + M + A
Add a cell below | B | Ctrl + M + B
See all keyboard shortcuts | H | Ctrl + M + H
Change cell to code | Y | Ctrl + M + Y
Change cell to markdown | M | Ctrl + M + M
Interrupt the Kernel | II | Ctrl + M + I
Delete a cell | DD | Ctrl + M + D
Checkpoint notebook | Ctrl + S | Ctrl + M + S

## Basic Python syntax

Now let's get comfortable with some basic Python syntax.

This includes the sensitivity to white spaces (since Python relies on indentation  to define scope in the code), including their consistency, as well as variable assignments and comments. Execute the following cells to get an intuitive understanding of the Python syntax.

### White space sensitivity

In [ ]:
if 5 > 2:
 print("Five is greater than two!")

if 5 > 2:
 print("Five is greater than two!")

In [ ]:
if 5 > 2:
 print("Five is greater than two!")

if 5 > 2:
    	print("Five is greater than two!")

if 5 < 2:
 print('abc')
 else:
    print('wow')

SyntaxError: invalid syntax (<ipython-input-5-7e191154dd5b>, line 9)

### Variable assignment of different types

Create variables with the following names and types, using values in the last column:

name | type | value
---|--- | ---
x | string | 5
y | string | Hello, world!
z | float | 5
abc | int | 19.5
this_is_a_variable | complex | 1+5i
z | float | z + 5
z2 | float | z + abc

Make sure to use comments to explain your code. 

**Keyboard Shortcuts for Commenting Code**  
- **Jupyter Notebooks**: `Ctrl+/` (also within Spyder)
- **Spyder Editor**: `Ctrl+1` (`Ctrl+2` inserts a cell divider `# %%`)  
- **Most Code Editors**: `Ctrl+/`

Shortcuts can be customized in settings.

In [ ]:
x = "5"
y = "Hello, world!"
z = 5.0
abc = int(19.5)
this_is_a_variable = 1+5j
z += 5
z2 = z + abc

## Printing and f-strings

We’ll use the variables we previously generated to practice printing output to the terminal. Since we’re working in a Jupyter notebook, we don’t always need to use `print()` to display values - but for learning purposes, we’ll explicitly use it.

To see which variables exist in your current workspace, use the `dir()` [function](https://docs.python.org/3/tutorial/modules.html#the-dir-function). This will list all defined variables, functions, and imported packages.
* Print the workspace using `dir()` and identify the variables we generated earlier.

In [ ]:
print(dir())

['In', 'Out', '_', '_13', '__', '___', '__builtin__', '__builtins__', '__doc__', '__loader__', '__name__', '__package__', '__spec__', '_dh', '_i', '_i1', '_i10', '_i11', '_i12', '_i13', '_i14', '_i2', '_i3', '_i4', '_i5', '_i6', '_i7', '_i8', '_i9', '_ih', '_ii', '_iii', '_oh', 'abc', 'exit', 'get_ipython', 'quit', 'this_is_a_variable', 'x', 'y', 'z', 'z2']

Now, print the values of all previously generated variables using the `print()` function.
* Use `print()` to display the variables from the table above. If you want to explore different options for formatting the output, call `help(print)` to check available arguments.

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [ ]:
print(x,y,z,abc,this_is_a_variable,z2,sep='>----<')

5>----<Hello, world!>----<10.0>----<19>----<(1+5j)>----<29.0

Now, let’s use **f-strings** to create and format new strings using the existing variables. f-strings provide a clean and readable way to insert variables into strings. 
You can find more (and more elaborate) string formatting examples [here:](https://www.w3schools.com/python/python_string_formatting.asp)

1.   Create a new string that lists the values of `x`, `y` and `z`.
2.   Format `z` by padding it with five leading zeros.
3.   Format the integer `abc` to display three decimal places.

***Hint:*** Float formatting follows {value:width.precision *f*}

In [ ]:
#1
print(f"{x}, {y}, {z}")

#2
print(f"{z=:05}")

#3
print(f"{abc:.3f}")

5, Hello, world!, 10.0
z=010.0
19.000

## Data structures

Next, we will cover data structures and different ways to interact with them (e.g., using indexing, slicing, operators, and their built-in methods). If you want more practice, visit [this page.](https://www.geeksforgeeks.org/python-data-structures-and-algorithms/)

### Lists
A list is a built-in dynamic array that can store elements of different data types. It is an ordered, mutable collection of items, meaning elements are stored in the same order as they were inserted into the list.

*   Create a list called `my_list` containing the values: `10, 20, "GfG", 40, True`

In [16]:
my_list = [10, 20, "GfG", 40, True]

##### Checking List Length
Oftentimes, we want to know how many items a list object contains. We can use the `len()` function on the list object `my_list` to find that out.

*   How many items does the list contain?
*   Print the first and the last item in `my_list`.

In [24]:
print(f"{my_list=} has a length of {len(my_list)}")

print('first', my_list[0])
print('last', my_list[-1])

my_list=[10, 20, 'GfG', 40, True, ['zz', 1, 2, 3, False]] has a length of 6
first 10
last ['zz', 1, 2, 3, False]

##### Modifying Lists
We can replace items in lists by using indexing or slicing if we want to select multiple parts/elements from the list.

*   Change the 2nd element in the list (`20`) by multiplying it with `3.7`.
*   Create a new variable `my_list_rev` containing the reversed order of the list elements.
*   Create a new variable `my_numbers` selecting only the numbers in `my_list`

This step is a bit tricky, as you need to grab two sections of the list. You can use slicing to grab the first part and then append the last element. There are two options: you can either use the `+` operator to concatenate two lists (*for this to work both addends must be of type list*), or you can use the built-in `.append()` method. The `.append()` method works **in place**, meaning it modifies the list directly.

 * Run `my_list.append(5555)` four times, then print `my_list`.

In [ ]:
my_list[1] *= 3.7

my_list_rev = my_list[::-1]
print(my_list_rev)


my_numbers = my_list[0:2]+[my_list[3]]
print(my_numbers)

my_numbers = my_list[0:2]
my_numbers.append(my_list[3])
print(my_numbers)

my_list.append(5555)
my_list.append(5555)
my_list.append(5555)
my_list.append(5555)
print(my_list)

[True, 40, 'GfG', 74.0, 10]
[10, 74.0, 40]
[10, 74.0, 40]

You can also append more than one element by providing another list as an input argument to `.append()`, for example: `my_list.append(['zz', 1, 2, 3, False])`. This will, however, create a nested list as `.append()` adds the entire list as a single element. If your goal is to *merge* two lists, you can use `.extend()` (which unpacks the elements), the `+` operator, or *unpack* both lists using the `*` operator (see the section on `*args` and `**kwargs` in Functions slides) inside `[]`, i.e. `[*first_list, *second_list]`.
* Create two copies of `my_list`, called `my_list_copied` and `my_list_copied2`, using the `.copy()` method. Then use `.append(my_list_rev)` on `my_list` and `.extend(my_list_rev)` on `my_list_copied`. Can you predict the difference between `my_list` and `my_list_copied`? Print `my_list`, `my_list_copied`, and compare the results to your predictions.
* Merge `my_list_copied2` with `my_list_rev` using `*` and compare the result to the earlier outputs.
* Try `print(*my_list_copied)` to explore the `*` operator further.

In [22]:
my_list_copied = my_list.copy()
my_list_copied2 = my_list.copy()

my_list.append(my_list_rev)
my_list_copied.extend(my_list_rev)
print(my_list)
print(my_list_copied)

# merging 2 lists with an unpacking operator
my_merged_list = [*my_list_copied, *my_list_rev]
print(my_merged_list)

print(*my_list_copied)

10
[20, 'GfG', 40, True]
['zz', 1, 2, 3, False]

##### Unpacking Lists
Python allows you to **unpack** values from a list (or other iterables) directly into multiple variables using the following syntax: `x,y = a_list_with_two_items`. This means you can assign individual elements of a list to separate variables in a single line.
* Explore  ***iterable unpacking*** by creating a list containing three numbers, and unpacking its elements into three variables: `a`, `b` and `c`. Print each variable to verify the values.

Python allows ***extended iterable unpacking*** (also known as ***iterable unpacking with starred expressions***) using the `*` operator, which captures multiple elements in a single variable.
* Explore extended iterable unpacking by extracting parts of a list using the *iterable unpacking* syntax and the `*` operator. Use extended iterable unpacking to:
  1. Assign the first element of `my_list_rev` to the variable `a`.
  2. Assign the last element to the variable `c`.
  3. Capture all middle elements in the variable `b`.
  After unpacking, print `a`, `b`, and `c` to verify the results.
***Hint:*** Use the `*` operator in the assignment statement to capture all middle elements in `b`.

In [ ]:
short_list = [10, 20, 30]
a, b, c = short_list
print(a)
print(b)
print(c)

# extract list body with unpacking operator
my_list
a, *b, c = my_list

print(a)
print(b)
print(c)

##### List Methods
Python has many [built-in methods for lists](https://docs.python.org/3/tutorial/datastructures.html#more-on-lists). You can see these by typing `my_list.` and hitting `Tab`. You can call the `help()` function on them to learn more about their syntax.
Some of the key list methods are: : `append`, `extend`, `insert`, `remove`, `pop`, `clear`, `index`, `count`, `sort`, `reverse`, `copy`. 

*  Look up how to use the `.insert()` method (best using the official docs linked above).
*  Insert the value `False` into `my_list_rev` after the value `74.0`. After inserting, the list should look like this: `[True, 40, 'GfG', 74.0, False, 10]`.

In [ ]:
help(list.insert)

my_list_rev.insert(4,False)
print(my_list_rev)

Help on method_descriptor:

insert(self, index, object, /) unbound builtins.list method
    Insert object before index.

[True, 40, 'GfG', 74.0, False, 10]

### Tuples

Tuples are immutable, ordered collections that usually contain a heterogeneous sequence of elements. Since they cannot be modified, tuples are often used to pass objects around in programs while ensuring data integrity.

A special feature of tuples is the construction of tuples containing 0 or 1 item(s). Here's how:

>An empty tuple is constructed with an empty pair of parentheses: `()`.

>A tuple with one item is constructed by adding a comma after the value (it is not enough to just use parentheses around a single value): e.g. `(1,)`.

* Create an *empty tuple* called `t1` and a *tuple with one item* called `t2` containing a single element of your choice.
* Create a tuple `t3` containing the values `1,2,3,4`, and `t4` containing the values `0,1,2,3,4,5,6`

BTW you can also make tuples without brackets. For example `t5 = 7,8,9` is also a tuple.

* Explore the available tuple built-in methods (e.g. by typing `t1.` and hitting `Tab`). Compare the list of methods for tuples with those available for lists. Can you guess why the methods differ?

In [26]:
t1 = ()
t2 = (1,)
t3 = 1,2,3,4
t4 = 0,1,2,3,4,5,6
not_a_tuple = (1)
print(type(not_a_tuple))

<class 'int'>

Like for lists, we can use ***iterable upacking*** and ***extended iterable unpacking*** to assign values from a tuple to individual variables. Recall the syntax: `x, y, z = t`. In this case `t` contains 3 values that are assigned to the variables `x`,`y`,`z`. 
You can also use the `*` operator to capture parts of the tuple into a variable. 
* Unpack the tuple `t3` into variables `t31`, `t32`, ...
* Now, unpack the tuple `t4` into a list called `t4_unpacked`. This means you'll convert the tuple’s elements into a list.

Remeber that you can also use indexing (e.g.`t32 = t3[1]`) and that if you're not interested in a particular value while unpacking you can use the `_` variable as a placeholder.

In [ ]:
t31,t32, t31, t32 = t3

_,_,t31,_ = t3

t4_unpacked = [*t4]
print(t4_unpacked)

[0, 1, 2, 3, 4, 5, 6]

### Dictionaries

Dictionaries are sometimes found in other languages as “associative memories” or “associative arrays” (in Matlab they would correspond to structures). Think *mappings* rather than *sequences*, where objects are stored by their relative position - see lists or tuples. Dictionaries are indexed by keys, which can be any immutable type; strings and numbers can always be keys. It is best to think of a dictionary as a set of key: value pairs, with the requirement that the keys are unique (within one dictionary). The value can be almost any Python object. 

A pair of braces creates an empty dictionary: `{}` or `dict()`. Placing a comma-separated list of key:value pairs within the braces adds initial key:value pairs to the dictionary; this is also the way dictionaries are written on output.

The main operations on a dictionary are storing a value with some key and extracting the value given the key. It is also possible to delete a key:value pair with `del`. If you store using a key that is already in use, the old value associated with that key is forgotten. It is an error to extract a value using a non-existent key.

Performing `list(d)` on a dictionary returns a list of all the keys used in the dictionary, in insertion order (if you want it sorted, just use `sorted(d)` instead). To check whether a single key is in the dictionary, use the `in` keyword.

#### Creating and accessing dictionaries
Dictionaries are very flexible in the data types they can hold.
* Make a dictionary `my_dict` with five number keys storing the values `123`,`abc`,`[1,2,3]`, `True` and `{'insideKey':100}`.

In [ ]:
my_dict = {'key1':123, 'key2':'abc', 'key3':[1,2,3], 'key4':True, 'key5':{'insideKey':100}}
my_dict

Like with lists and tuples, dictionaries have a number of methods or built-in functions that allow you to perform operations on them. You can quickly preview them by typing `my_dict.` and hitting `Tab`.
* Try for example `my_dict.keys()`,`my_dict.values()` and `my_dict.items()`.

In [ ]:
my_dict.keys()

In [ ]:
my_dict.values()

In [ ]:
my_dict.items()

You can call items within the dictionary by indexing with the keys, e.g. my_dict['key1']. To access nested structures, indices are stacked, i.e. `d[][]`.
* Extract the third value of the list in key3.

In [ ]:
my_dict['key3'][2]

Similarly, object methods can also be stacked.
* Extract the string in `key2` and make it uppercase using string object's built-in `upper()` function. Then extract the second letter of the string. *Note:* All this can be done in one line of code.

In [ ]:
my_dict['key2'].upper()[1]

Values within dictionaries can be modified.
* Subtract 40 from the `insideKey` value of the `key5` dictionary and replace the `insideKey` value with the result. *Note:* you can utilize the `-=` operator.

In [ ]:
my_dict['key5']['insideKey'] -= 40
my_dict

Dictionary key value pairs can also be created by assignment using key indexing.
* Create an empty dictionary called `bat_weights_g` then assign 7 to `dau` 8 to `nat` and 5 to `pyg`.

In [ ]:
bat_weights_g = {}

In [ ]:
bat_weights_g['dau'] = 7
bat_weights_g['nat'] = 8
bat_weights_g['pyg'] = 5
bat_weights_g

The same dictionary can be created using the `dict()` function with a sequence of key-value pairs.
* Create a list of three tuples, each containing the species key and weight value. Use the list as input to `dict()`.

In [ ]:
dict([('dau',7), ('nat',8), ('pyg',5)])

Finally, when the keys are simple strings, like in our case here, you can use them as *keyword arguments* to `dict()` directly.
* Try doing just that.

In [ ]:
dict(dau=7, nat=8, pyg=5)

#### Deleting items in dictionaries
* Dictionary items can be removed using the `.pop()` dictionary method (same syntax as for lists, just with key as index), or the `del` statement. Remove the `pyg` key-value pair using `.pop()`, then assign it again to the dictiory and remove using `del dict['key']`.

In [ ]:
bat_weights_g.pop('pyg')
bat_weights_g

In [ ]:
bat_weights_g['pyg'] = 5
bat_weights_g

In [ ]:
del bat_weights_g['pyg']
bat_weights_g

* Unlike lists, dictionaries cannot be concatenated using the `+` operator. However, you can merge two dictionaries by unpacking them with the `**` operator (i.e., `**dict`) inside `{}` (similar to the list `*` syntax). This creates a new dictionary containing all key-value pairs from the merged dictionaries. Merge `my_dict` and `bat_weights_g` into a single dictionary using dictionary unpacking.

In [ ]:
{**my_dict, **bat_weights_g}

## Python statements

### `if`, `elif`, `else` statements

#### Logical and comparison operators in Python  

Python supports standard logical conditions from mathematics - refer to the ***Comparison and logical operators*** slide for details. These conditions are most commonly used in if statements and loops but can appear in other contexts as well.

>**Comparison Operators**: Operators like `==`, `<`, `>`, `<=`, and `>=` are used to compare values.  
  **Membership Operators**: `in` and `not in` check whether a value exists within a container (e.g., a list or string).  
  **Identity Operators**: `is` and `is not` determine whether two variables refer to the same object in memory.  

All comparison operators have the same precedence, which is lower than that of numerical operators.  

#### Chaining and combining comparisons  
>Comparisons can be ***chained***:  

    `a < b == c`  # Checks if `a` is less than `b` and if `b` equals `c`

>Boolean operators `and`, `or`, and `not` can be used to ***combine comparisons***; `not` has the highest priority, followed by `and`, and then `or`. For example:

    `A and not B or C`  # Equivalent to: `(A and (not B)) or C`

>>As always, parentheses should be used to ensure clarity in complex conditions.

#### Short-circuit evaluation
Python's Boolean operators and and or use short-circuit evaluation, meaning:

>**For** `and`, evaluation stops if any condition is `False` (since the whole expression must be `False`).
>**For** `or`, evaluation stops if any condition is `True` (since the whole expression must be `True`).

    `A and B and C`  # If `A` and `C` are `True` but `B` is `False`, `C` is never evaluated

When used in expressions beyond Boolean logic, short-circuit operators return the ***last evaluated argument*** instead of strictly `True` or `False`.

It is possible to assign the result of a comparison or other Boolean expression to a variable. For example:

    string1, string2, string3 = '', 'bat', 'frog'
    non_null = string1 or string2 or string3
    print(non_null)

In [ ]:
string1, string2, string3 = '', 'bat', 'frog'
non_null = string1 or string2 or string3
print(non_null)

bat

#### `if`, `elif`, `else` syntax

Conditional statements allow your program to make decisions based on different conditions. In Python, `if`, `elif`, and `else` are used to control the flow of execution based on specified conditions (refer to ***if statements*** slide for more details).

However, `if` statements cannot be empty. If you need to define an `if` statement but don't yet have any code to execute inside it, you can use the `pass` statement to avoid an error.  


Let's see a quick example.

* Define a variable study_animal and assign it a Boolean value (True or False). Then write an `if` statement that checks if `study_animal` is `True` and has a placeholder for future code.

In [ ]:
study_animal = False

if study_animal:
  pass

* Now modify your `if` statement to print one message if `study_animal` is `True`, and a different message if `study_animal` is `False`. Test with your condition being `True` and `False`.

In [ ]:
if study_animal:
  print('study_animal was True!')
else:
  print('I will be printed in any case where study_animal is not true')

I will be printed in any case where study_animal is not true

Let's incorporate `elif` and a comparison syntax. You can put in as many `elif` statements as you want before you close off with an `else`. As soon as one conditional statement is met, the interpreter skips the rest of the statements.

* Define a variable called `study_animal` and assign it the name of an animal as a string (choose from 'bat', 'frog', 'finch', or 'porpoise'). Then use an `if-elif-else` statement to check the value of `study_animal` and print a corresponding welcome message based on the animal:  
   - `'bat'` → `"Welcome to the Wind tunnel!"`  
   - `'frog'` → `"Welcome to a tropical island!"`  
   - `'finch'` → `"Welcome to SDU's basement!"`  
   - `'porpoise'` → `"Welcome to Kerteminde!"`  
   - If the animal is not in the list, print `"Where do you work?"`

In [ ]:
study_animal = 'frog'

if study_animal == 'bat':
    print('Welcome to the Wind tunnel!')
elif study_animal == 'frog':
    print('Welcome to a tropical island!')
elif study_animal == 'finch':
    print("Welcome to the SDU's basement!")
elif study_animal == 'porpoise':
    print('Welcome to Kerteminde!')
else:
    print('Where do you work?')

Welcome to a tropical island!

* If you want an ***additional challenge***, turn the code into a `match` statement.

### `for` loops


A `for` loop is used for iterating over a sequence (i.e. a list, a tuple, a dictionary, a set, or a string), so that we can execute a set of statements, once for each item in the sequence.

* Write a loop that iterates through the letters in the word "Myotis" and prints them out.

In [ ]:
for x in "Myotis":
  print(x)

*Side note:* Because string objects in Python are iterable, you can unpack them using the `*` operator. Try assigning `[*"Python"]` to a variable and printing it out.

In [ ]:
a = [*"Python"]
print(a)

To loop over an iterable in reverse, feed it to the `reversed()` function (it returns an iterator that goes through the elements in reverse order).
* Try it out with your Myotis loop.

In [ ]:
for x in reversed("Myotis"):
  print(x)

If you need a loop to run a specific number of times rather than iterating over an iterable object, use the [range function](https://python-reference.readthedocs.io/en/latest/docs/functions/range.html) to generate a sequence. `range` can take a single *stop* argument or be used with *(start, stop)* and *(start, stop, step)*.
* Write a loop that prints every 5th number from 20 and 100.

In [ ]:
for i in range(20,101,5):
  print(i)

*Side note:* `range` as input argument to the `list()` function can be used to quickly generate a list with a sequence of numbers. Try creating a list with numbers from 0 to 10.

In [ ]:
list(range(11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

You can exit a loop early using the `break` statement (see the `while` loop slide for syntax reminder).
* Write a `for` loop that iterates through a `bats` list containing five elements: 'Myotis', 'Pipistrellus', 'Glossophaga', 'Noctilus', and 'Eptesicus'. The loop should print each element but stop when it encounters 'Glossophaga'. Try exiting after and before 'Glossophaga' is printed.

In [ ]:
bats = ['Myotis', 'Pipistrellus', 'Glossophaga', 'Noctilus', 'Eptesicus']
for bat in bats:
  print(bat)
  if bat == "Glossophaga":
    break

Myotis
Pipistrellus
Glossophaga

In [ ]:
for bat in bats:
  if bat == "Glossophaga":
    break
  print(bat)

Myotis
Pipistrellus

With the `continue` statement we can stop the current iteration of the loop, and continue with the next (see `while` loop slide for syntax example).
* Write a `for` loop that iterates from the `bats` list and prints all its elements except 'Glossophaga'.

In [ ]:
for bat in bats:
  if bat == "Glossophaga":
    continue
  print(bat)

Myotis
Pipistrellus
Noctilus
Eptesicus

To loop over a sequence in sorted order, pass it to the `sorted()` function (unlike the `.sort()` method, which modifies a list in place, `sorted()` returns a new sorted sequence while leaving the original unchanged).
* Write a `for` loop that iterates over the `bats` list in alphabetical order.

In [ ]:
for bat in sorted(bats):
  print(bat)

Eptesicus
Glossophaga
Myotis
Noctilus
Pipistrellus

Sometimes, you may want to iterate over only the unique items in a string, list, or tuple. In these cases, the `set()` function can help, as it converts the input to a `set` (which only allows unique items - see the slide on data structures).
* Create a list with the elements 'Plecotus', 'Myotis', 'Eptesicus', and 'Vespertilio', and concatenate it with `bats` to form a new list called `more_bats`. Then, write a loop that prints the unique genus names from that list.

In [ ]:
more_bats = bats + ['Plecotus', 'Myotis', 'Eptesicus', 'Vespertilio']
print(more_bats)

for bat in set(more_bats):
  print(bat)

['Myotis', 'Pipistrellus', 'Glossophaga', 'Noctilus', 'Eptesicus', 'Plecotus', 'Myotis', 'Eptesicus', 'Vespertilio']
Vespertilio
Pipistrellus
Noctilus
Plecotus
Glossophaga
Myotis
Eptesicus

`for` loops cannot be empty, but if you for some reason have a for loop with no content, put in the `pass` statement to avoid getting an error.
 * Try iterating over your `bats` list with a loop that does nothing.

In [ ]:
for bat in bats:
  pass

When looping through a sequence, the position index and corresponding value can be retrieved at the same time using the `enumerate()` function.
* Write a loop that iterates through the `bats` list and prints each element along with its index.

In [ ]:
for ix, bat in enumerate(bats):
  print(bat, ix)

Myotis 0
Pipistrellus 1
Glossophaga 2
Noctilus 3
Eptesicus 4

When looping through a dictionary, you can retrieve both the key and its corresponding value using the `.items()` method. This method returns key-value pairs in an iterable set-like object (see the dictionary section above), which can be unpacked in a loop using syntax similar to `enumerate()`.
* Create a dictionary called `genus_species` with the key-value pairs 'Myotis': 'daubentonii', 'Eptesicus': 'serotinus' and 'Pipistrellus': 'pygmaeus'. Then, use a `for` loop to print each full species name one by one. Recall that `keys` need to be unique within a single dictionary. Try adding 'Myotis': 'nattereri' to your dictionary and see what happens.

In [ ]:
genus_species = {'Myotis': 'daubentonii', 'Eptesicus': 'serotinus', 'Pipistrellus': 'pygmaeus'}

for key, value in genus_species.items():
    print(key, value)

Myotis daubentonii
Eptesicus serotinus
Pipistrellus pygmaeus

In [ ]:
genus_species = {'Myotis': 'daubentonii', 'Eptesicus': 'serotinus', 'Pipistrellus': 'pygmaeus', 'Myotis': 'nattereri'}
genus_species

{'Myotis': 'nattereri', 'Eptesicus': 'serotinus', 'Pipistrellus': 'pygmaeus'}

To loop over two or more sequences at the same time, you can use the `zip()` function. This function returns a `zip` object, which is an iterator of `tuples` where the first item in each passed iterable is paired together, the second items are paired together, and so on. If the iterables have different lengths, `zip()` stops at the shortest one. Elements from each sequence can be extracted within the loop using syntax similar to `enumerate()` (see the `for` loops slide for an example).

* Create two lists:
  1. `questions`, containing the `strings` 'name', 'quest' and 'favorite color'
  2. `answers`, containing the `strings` 'lancelot', 'the holy grail' and 'blue'

  Then, use a `for` loop with `zip()` to iterate over both lists at the same time and print each question along with its corresponding answer in the format:

    `What is your <question>? It is <answer>.`

In [ ]:
questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']

for q, a in zip(questions, answers):
    print(f'What is your {q}?  It is {a}.')

### `while` loops - work in progress

With the `while` loop we can execute a set of statements as long as a condition is true.

Like in `for` loops, with the `break` statement we can stop the loop even if the while condition is true, and with the `continue` statement we can stop the current iteration, and continue with the next.

## Functions

Now that you've mastered Python formatting, data structures, and statements, let's put that knowledge to good use by writing some  functions! 
>*If you need a refresher on function syntax, refer to the **Functions** slides.*

Let's start with a simple function that prints a string.

* Write a function called `say_hello` that prints the string `'Hello, World!'`.

In [ ]:
def say_hello():
    print("Hello, World!")

Now, execute (call) the function to verify that it works by running: `say_hello()`. The parentheses `()` at the end are required to call the function. Without them, Python will return the function object instead of executing it. Try it out!

In [ ]:
# Check
say_hello()

Hello, World!

Let's overwrite that function with one that accepts input arguments.

* Define a function called `say_hello` that takes in a *required* argument `name`, and prints `'Hello, Name'` to the terminal or output cell. Again, verify its functionality by calling it. Try calling the function with `'Name'` entered as a positional argument, and as a keyword argument (refer to the Functions slides, if needed).

In [ ]:
def say_hello(name):
    print(f"Hello, {name}")

# Check
say_hello('Jakob')
say_hello(name='Jakob')

Hello, Jakob

Note that running `say_hello()` will now throw an error.

In [ ]:
say_hello()

* Modify your `say_hello` function, so that it takes an *optional* argument `name`. Set the default value of `name` to `'Felix'`. Try calling the function with `'Name'` (entered as a positional or a keyword argument) and with no inputs.

In [ ]:
def say_hello(name='Felix'):
    print(f"Hello, {name}")

# Check
say_hello('Jakob') # name provided
say_hello() # default value

Hello, Jakob
Hello, Felix

So far, the functions you’ve written have printed outputs to the terminal but have not *returned* any values. Now, you'll create a few functions that explicitly return a result.
* Write a function called `check_even` that takes in a single argument, and returns `True` if the passed-in value is even, `False` if it is not. Verify the function by evaluating whether 2 and 3 are even?

  Should the argument be required or optional?

In [ ]:
def check_even(num):
    return num % 2 == 0

# Check
check_even(2)
check_even(3)

* Define a function called `check_even_list` that takes a list of numbers as an argument. The function should return `True` if the list contains at least one even number; otherwise, it should return `False`.

  ***Example Cases***
  - `check_even_list([21, 5, 90, 256])` → should return `True`   
  - `check_even_list([21, 5])` → should return `False`

In [ ]:
def check_even_list(num_list):

    for number in num_list:
        if number % 2 == 0:
            return True
        else:
            pass

    return False

# Check
check_even_list([21,5,90,256])
check_even_list([21,5])

* Define a function called `pick_even_list` that takes in a list of numbers, and returns all even numbers inside that list.
  
  `pick_even_list([21, 5, 90, 256])` → should return `[90, 256]`

In [ ]:
def pick_even_list(num_list):
    even_numbers = []
    for number in num_list:
        if number % 2 == 0:
            even_numbers.append(number)
        else:
            pass
    return even_numbers

# Check
pick_even_list([21,5,90,256])

* Write a function called `lesser_of_two_evens` that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd.

  ***Example Cases***
  - `lesser_of_two_evens(2, 4)` → should return 2   
  - `lesser_of_two_evens(2, 3)` → should return 3

In [ ]:
def lesser_of_two_evens(a,b):
    if (a % 2 == 0) and (b % 2 == 0):
        return min(a,b)
    else:
        return max(a,b)
# Check
lesser_of_two_evens(2,4)
# Check
lesser_of_two_evens(2,3)

### Variable number of input arguments (`*args`)

* Define a function called `count_and_add` that accepts an arbitrary number of *positional* arguments, and returns the count of the arguments and their sum (if in doubt about syntax, see slides on functions with multiple inputs and outputs).

    If the function's output is assigned to a single variable, it will be a `tuple` containing both values. Since the number of outputs is known to you, you can unpack (extract) them when calling the function.

  ***Example Cases***

  * `connect_and_add([20, 90, 256])` → should return `(3,366)`
  * `count, total = count_and_add(20,90,256)` → should return `count` of 3 and `total` of 366

In [ ]:
def count_and_add(*args):
    return len(args), sum(args)

# Check
count_and_add(20,90,256)
count, total = count_and_add(20,90,256)
print(count)
print(total)

3
366
366

***Tip***: If you're only interested in one of the returned values, you can directly index the function call to extract the specific output.

For example, if you only need the sum of the arguments, you can call:
`count_and_add(*args)[1]`

Try it out!

In [ ]:
count_and_add(20,90,256)[1]

Now, let's combine *args, loops, and conditionals (and optionally, *list unpacking when calling the function).
* Define a function called `pick_evens` that takes in an arbitrary number of positional arguments, and returns a list containing only those arguments that are even.

  ***Example Cases***
  - `pick_evens(3, 10, 7, 8, 21, 24)` → should return `[10, 8, 24]`   
  - `pick_evens(1, 5, 9)` → should return `[]`

In [ ]:
def pick_evens(*args):
    even_numbers = []
    for num in args:
        if num % 2 == 0:
            even_numbers.append(num)

    return even_numbers

#check
pick_evens(21,5,90,256)

### Anonymous functions (i.e. `lambda` expressions)

Lambda expressions are small, anonymous functions that can take any number of arguments, but must consist of a single expression. They are commonly used within other functions, especially in `map()` and `filter()`. 

If you need a refresher, refer to the the ***Functions*** slides for guidance on their usage, syntax and converting `def` functions into `lambda` expressions.

You can also find more examples [here](https://www.w3schools.com/python/python_lambda.asp) and [here](https://www.geeksforgeeks.org/python-lambda-anonymous-functions-filter-map-reduce/).

* Define a function called `spherical_loss` that returns transmission loss due to spherical spreading for a given range `r`.
* Then, convert this function into an equivalent `lambda` expression, and use the `map` function to apply it to a list of ranges. The output should be a `list` of computed transmission losses.
>***Tip***: check the ***Anonymous functions*** slide for an example of `map`'s syntax, usage and casting.

Since Python does not have a built-in `log10` function, the necessary import is already included in the code cell:
`from math import log10`

`map` is a built-in function, so no additional imports are needed. 

You can use the `help(map)` function or read more about map [here](https://www.geeksforgeeks.org/python-map-function/).

In [ ]:
from math import log10

def spherical_loss(r):
    return 20*log10(r)

# Check
spherical_loss(2)

6.020599913279624

In [ ]:
ranges = [2, 3, 5, 10, 100]
t_losses = list(map(lambda r: 20*log10(r), ranges))
print(t_losses)

### Utilizing `string` methods

Like `lists` and `dictionaries`, Python `strings` have built-in methods that provide useful functionality. You'll now use some of them inside your functions to modify text.

The full list of `string` methods can be found [here](https://docs.python.org/3/library/stdtypes.html#string-methods).


* Define a function called `jitter_string` that takes in a `string`, and returns a new `string` where every even letter is uppercase, and every odd letter is lowercase.

Assume that the incoming string only contains letters, and don't worry about numbers, spaces or punctuation. The output string can start with either an uppercase or lowercase letter, as long as pattern alternates correctly.

  ***Example Case***

     `jitter_string('Anthropomorphism')` → should return `aNtHrOpOmOrPhIsM`  

***Tip***: you may find the `string` methods `.lower()` and `.upper()` helpful here.

In [ ]:
# help(str.lower)
# help(str.upper)

def jitter_string(my_string):

    new_string = ''
    for ix, s in enumerate(my_string):
        if ix % 2 == 0:
            new_string += s.lower()
        else:
            new_string += s.upper()

    return new_string

# Check
jitter_string('Anthropomorphism')

* Define a function called `master_yoda` that takes a sentence as input and returns a new sentence with the words in reverse order.

  ***Example Cases***
  - `master_yoda('I am home')` → should return `'home am I'`   
  - `master_yoda('We are ready')` → should return `ready are We`

  ***Tip***: slicing and the `string` methods `.split()` and `.join()` will be useful here.

In [ ]:
# help(str.join)
# help(str.split)

def master_yoda(text):
    return ' '.join(text.split(' ')[::-1])

# Check
print(master_yoda('I am home'))
print(master_yoda('We are ready'))

* If you want an ***additional challenge***, adjust the output so that the first word is capitalized and the rest are in lowercase. 

  ***Tip***: String indexing and methods like `.lower()`,`.capitalize()` or `.upper()` may come in handy here.

In [ ]:
def master_yoda(text):
    sp = text.split(' ')[::-1]
    sp[0] = sp[0].capitalize()
    sp[-1] = sp[-1].lower()
    return ' '.join(sp)

# Check
print(master_yoda('I am home'))
print(master_yoda('We are ready'))

Home am i
Ready are we

## Classes

Classes provide a means of bundling data and functionality together. Creating a new class creates a new type of object, allowing new instances of that type to be made. Each class instance can have attributes attached to it for maintaining its state. Class instances can also have methods (defined by its class) for modifying its state.

Classes are outside of the scope of this workshop. However we will give you some intuitive understanding for classes by implementing and running the examples from the slides. If you are interested to learn more about classes in Python you can follow [here](https://docs.python.org/3/tutorial/classes.html).

In [ ]:
class MyClass:
        a = 17

        def __init__(self, name, x = 5):
            self.name = name
            self.x = x

        def add_to_x(self, y):
            self.x += y

        def my_name_is(self):
            print(f"{self.name}")

        def x_is(self):
            print(f"{self.x}")

The code above implements a class called `MyClass` which has 3 methods `add_to_x`, `my_name_is` and `x_is` and an initialization `__init__` method implemented. You can create objects of this class, so-called instances by assigning a variable the type MyClass and the respective required arguments.

In [ ]:
A = MyClass("A")
B = MyClass("nobody",95)
C = MyClass()

TypeError: MyClass.__init__() missing 1 required positional argument: 'name'

The instances `A` were nicely `B` instantiated. `C` failed because it was missing the `name` argument upon assignment.

You can now modify or interact with the instances by running their methods as shown below.

In [ ]:
A.x_is()
A.add_to_x(7)
A.x_is()
A.my_name_is()

B.x_is()
B.add_to_x(7)
B.x_is()
B.my_name_is()

5
12
A
95
102
nobody